body {
  background-color: rgba(188, 143, 143, 0.5);
}
.q7 {
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  max-width: 450px;
  padding: 10px;
}

.q7 h5 {
  font-size: 18px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-form, .text-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.name, .city-details {
  display: flex;
  justify-content: space-between;
}

#city, #zip, #state {
  width: 60%;
}

.q7 input[type=text] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  margin-right: 5px;
}

.subscribe {
  margin-top: 10px;
}

.q8 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.q8 table, th, td {
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 10px;
}

.q8 table {
  width: 700px;
}

.q11 input {
  margin: 10px;
}

input[type=button], input[type=submit], input[type=reset] {
  padding: 10px;
  font-size: 16px;
  background-color: slateblue;
  color: white;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

input[type=submit] {
  background-color: seagreen;
}

input[type=reset] {
  background-color: red;
}
